xcode
wheel
numpy
matplotlib
datetime
argparse
path
xlsxwriter
seaborn
scipy
pycodestyle
sphinx
sphinx_rtd_theme
pycodestyle
sphinx
sphinx_rtd_theme
pytest
xlrd
pandas==1.1.1
git+https://github.com/meono/croissance
