xcode
wheel
numpy
matplotlib
datetime
argparse
path
xlsxwriter
seaborn
scipy
pycodestyle
sphinx
sphinx_rtd_theme
pycodestyle
sphinx
sphinx_rtd_theme
pytest
xlrd==1.2.0
pandas
git+https://github.com/biosustain/croissance.git@v1.2.x