version: 2.1

orbs:
  python: circleci/python@0.2.1
  win: circleci/windows@2.2.0

jobs:
  
  build-in-python:
    executor: python/default
    steps:
      - checkout
      - run:
          name: Install linux dependencies
          command : |
            sudo apt-get install gfortran libopenblas-dev liblapack-dev
      - run:
          name: Install Python Dependencies
          command : |
            pip install -r requirements.txt
            pip install -e .
            pip install git+https://github.com/meono/croissance
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      - run:
          name : Run Unit Tests
          command: |
            cd tests
            python3 test_tecan_od_analyzer.py

  build-on-windows:
    executor:
      name: win/default
      shell: powershell.exe
    steps:
      - checkout
      - run:
          name: Install python3
          command : |
            choco install python --version=3.7.2
            python -m pip install -U pip
      - run:
          name: Install Python Dependencies
          command : |
            pip install -r requirements.txt --ignore-installed certifi
            pip install -e . --ignore-installed certifi

      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      - run:
          name : Run Unit Tests
          command: |
            cd tests
            python test_tecan_od_analyzer.py


workflows:
  main:
    jobs:
      - build-in-python
      - build-on-windows
